.team{background-color:#f6f6f6;}
.team .content .title-wrapper{grid-column:1/-1;}
.team .content{display:grid; gap:3rem; grid-template-columns:repeat(auto-fill, minmax(322px, 1fr));}
.team .content > *{margin-bottom:0;}

.team-member{text-align:center;}
.team-member img{margin-inline:auto; border-radius:50%;}
.team-member > *:not(:last-child){margin-bottom:1.6rem;}
.team-member .team-name{font-size:2.2rem; font-weight:700; margin-bottom:0;}
.team-member .team-title{opacity:.25; font-size:1.8rem;}
.team-member p{line-height:1.6;}

/* reviews */
#xs-review-box .write-reivew-headding,
.public-xs-review-box, .view-review-list{padding:0; -webkit-box-shadow:none; box-shadow:none; font-weight:500;}
#xs-review-box .total-reivew-headding{padding:0; font-weight:500;}
.content :is(ul, ol){padding-left:0;}
#xs_review_form_public_data .xs-review-box .xs-review{padding:0;}
