.team{background-color:#f6f6f6;}
.team .content .title-wrapper{grid-column:1/-1;}
.team .content{display:grid; gap:3rem; grid-template-columns:repeat(auto-fill, minmax(322px, 1fr));}
.team .content > *{margin-bottom:0;}

.team-member{text-align:center;}
.team-member img{margin-inline:auto; border-radius:50%;}
.team-member > *:not(:last-child){margin-bottom:1.6rem;}
.team-member .team-name{font-size:2.2rem; font-weight:700; margin-bottom:0;}
.team-member .team-title{opacity:.25; font-size:1.8rem;}
.team-member p{line-height:1.6;}

/* reviews */
#xs-review-box .write-reivew-headding,
.public-xs-review-box, .view-review-list{padding:0; -webkit-box-shadow:none; box-shadow:none; font-weight:500;}
#xs-review-box .total-reivew-headding{padding:0; font-weight:500;}
.content :is(ul, ol){padding-left:0;}
#xs_review_form_public_data .xs-review-box .xs-review{padding:0;}
.public-xs-review-box .xs-save-button button{background-color:var(--background-color-body); border-radius:.4rem; font-size:1.6rem; -webkit-box-shadow:none; box-shadow:none; transition:all .3s ease;}
.public-xs-review-box .xs-save-button button:hover{-webkit-box-shadow:none; box-shadow:none; filter:brightness(1.15);}
.page-template-conocenos .view-review-list .xs-reviewer-details,
.page-template-conocenos .xs-review-box .xs-reviewer-details .review-reviwer-info-section{padding:0;}
.page-template-conocenos .xs-review-media.review-full{display:grid; gap:3rem; grid-template-columns:repeat(auto-fill, minmax(322px, 1fr));}
.page-template-conocenos .view-review-list .border-div{display:none;}
.page-template-conocenos .public-xs-review-box .review_message_show{padding:0;}
.page-template-conocenos .review-reviwer-info-section{text-align:center;}
.page-template-conocenos .xs_review_name{font-size:2.4rem;}
.page-template-conocenos .xs-review-rattting .xs-star:before, 
.page-template-conocenos .xs-review-rattting .xs-star.dashicons-star-filled:before,
.page-template-conocenos .xs-review-rattting .xs-star.dashicons-star-half:before{width:24px; height:24px; font-size:24px;}