/* hero */
.hero-section{display:grid; gap:3rem;}
.hero-section .presentation-title :is(h1,h2){font-size:4rem; text-align:center;}
.hero-section .presentation-title h1{font-weight:500;}
.hero-section .presentation-content{display:grid; grid-template-columns:repeat(auto-fill, minmax(220px, 1fr)); gap:3rem; align-items:center;}
.hero-section .presentation-content .story-video{position:relative; margin-bottom:2rem; display:flex;}
.hero-section .presentation-content .story-video img{width:7rem; height:7rem; border-radius:50%; object-fit:cover;}
.hero-section .presentation-content .story-video .button-wrapper{position:relative; top:0; left:-2rem;}
.hero-section .presentation-content .story-video .button-wrapper > svg{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:3rem; height:3rem; color:var(--background-color-body); z-index:1;}
.hero-section .presentation-content .story-video .center{position:relative; display:grid; width:7rem; height:7rem; font-size:1.6rem; padding:1rem; border:1px solid rgba(0,0,0,.1); border-radius:50%; letter-spacing:4px; background-color:rgba(255,255,255,.5); z-index:2;}
.hero-section .presentation-content .story-video .center svg{overflow:visible; animation:circular-text-rotate 5s linear paused infinite;}
.hero-section .presentation-content .story-video .center svg:hover{animation-play-state:running;}
.hero-section .presentation-content .story-video .center path{fill:none;}
.hero-section .presentation-content .story-video .center text{fill:#000;}
@keyframes circular-text-rotate { to { transform: rotate(1turn); } }
.hero-section .presentation-content .story-text .title-wrapper{position:relative; border-bottom:2px solid rgba(0,0,0,.1);}
.hero-section .presentation-content .story-text .title-wrapper .title{display:inline; position:relative; font-size:1.6rem; font-weight:500;}
.hero-section .presentation-content .story-text .title-wrapper .title:before{position:absolute; bottom:-5px; left:0; width:100%; height:2px; background-color:var(--color-text); content:'';}
.hero-section .presentation-content .story-text > *:not(:last-child, p, .story-text-button){margin-bottom:2rem;}
.hero-section .presentation-content .story-text p{font-size:1.4rem;}
.hero-section .presentation-content .story-text .story-text-button{float:left; border:1px dashed rgba(0,0,0,.1); border-radius:50%; padding:1rem; margin-right:2rem;}
.hero-section .presentation-content .story-text .story-text-button a{display:grid; width:4rem; height:4rem; place-content:center; background-color:var(--background-color-body); border-radius:50%; color:white;}
.hero-section .presentation-content img{width:100%; border-radius:.8rem;}
.hero-section .presentation-content .numbers{display:grid; gap:3rem; align-content:flex-end;}
.hero-section .presentation-content .numbers h2{font-weight:400; font-size:4rem;}
.hero-section .presentation-content .numbers h2 span{color:var(--background-color-body);}
.hero-section .presentation-content figure{position:relative; display:grid; align-content:end;}
.hero-section .presentation-content figure img{aspect-ratio:16/9; object-fit:cover;}
.hero-section .presentation-content figure figcaption{position:absolute; bottom:.6rem; right:.6rem;}
.hero-section .presentation-content figure figcaption a{font-size:2rem; background-color:var(--background-color-main-content); color:var(--background-color-body); padding:0 1rem; border-radius:.4rem; display:inline-flex; align-items:center; gap:.7rem;}

/* sitemap */
#sitemap{background-color:#f6f6f6;}
:root {
    --sitemap-section-item-height: 0.5rem;
    --sitemap-section-item-margin-left: 2.25rem;
    --sitemap-section-item-padding-top: 0.5rem;
}

.sitemap-section ul {
    /* Reset */
    list-style-type: none;
    margin: 0;
}

.sitemap-section li {
    padding: var(--sitemap-section-item-padding-top) 0rem 0rem 0rem;
    position: relative;
}

.sitemap-section li::before {
    border-left: 1px solid #d1d5db;
    content: '';

    /* Position */
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(calc(-1 * var(--sitemap-section-item-margin-left)), 0);

    /* Size */
    height: 100%;
}

.sitemap-section li::after {
    border-bottom: 1px solid #d1d5db;
    content: '';

    /* Position */
    left: 0;
    position: absolute;
    top: calc(var(--sitemap-section-item-padding-top) + var(--sitemap-section-item-height) / 2);
    transform: translate(-100%, 0);

    /* Size */
    width: var(--sitemap-section-item-margin-left);
}

/* Remove the border from the last item */
.sitemap-section li:last-child::before {
    height: calc(var(--sitemap-section-item-padding-top) + var(--sitemap-section-item-height) / 2);
}

/* suscribe */
#suscribe{background-color:#937698;}
.suscribe-section .title-wrapper{position:relative; border-bottom:2px solid rgba(255,255,255,.1); max-width:500px; margin-inline:auto;}
.suscribe-section .title-wrapper .title{display:inline; position:relative; font-size:2rem; font-weight:500; color:var(--color-header);}
.suscribe-section .title-wrapper .title:before{position:absolute; bottom:-5px; left:0; width:100%; height:2px; background-color:var(--color-header); content:'';}
.suscribe-section .wpcf7-form{display:grid; width:min(100%, 500px); margin-inline:auto; grid-template-columns:1fr auto; align-items:end; gap:2rem;}
.suscribe-section .wpcf7-form label{color:var(--color-header);}
.suscribe-section .wpcf7-form input[type=email]{border-radius:.4rem; height:47.5px;}

@media(min-width:1024px){
    .hero-section .presentation-content figure{grid-column:2/span 2;}
}