/* dirección */
address{display:grid; gap:4rem; align-content:baseline;}
address iframe{width:100%;}

/* dirección */
.address-widget{margin:0; padding:0; list-style:none; font-style:normal;}
.address-widget li,
aside ul li{display:flex; align-items:center; height:3rem; font-size:1.4rem;}
.address-widget li:not(:last-child),
aside ul li:not(:last-child){border-bottom:1px solid var(--border-color-list);}
.address-widget li a{display:inline-flex; align-items:center;}
.address-widget li svg{padding-right:.7rem;}

aside ul li{display:flex; align-items:center; height:3rem;}

@media(min-width:400px){
    /* dirección */
    .address-widget li{font-size:1.6rem;}
}